img {
	max-width:100%;
	max-height:100%;
}

body {
	background-image: url("images/wallpaper2.jpg");
	background-attachment: fixed;
	background-position: center;
}

#header {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	color:#ffffff;
	background-color:#2a2e3a;
	/* padding:10px; */
}

.logo {
	width: 225px;
	float: left;
	margin-top: 20px;
}

.menubar {
	float: right;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
	font-size: 10pt;
	font-weight: 600;
}

li a:hover {
    background-color: #111;
}

.wrapper {
	margin: 0 auto;
	width: 660px;
}

.main {
	width: 640px;
	margin: 10px;
	float: left;
	margin-top: 90px;
}


.column {
	width: 160px;
	background: #ffeeee;
	float: left;
	margin: 10px;
	border-style: solid;
	border-width: 10px;
	border-color: #929CA6;
	padding: 10px;
	background-color: #c6cace;
	margin-bottom: 75px;
}

.clear {
	clear:both;
}

.column-img {
	height: 100px;
	display: block;
    margin-left: auto;
    margin-right: auto
}

h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 11pt;
	font-weight: 600;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 10pt;
	font-weight: 400;
}

#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background-color:#2a2e3a;
	padding:8px;
}